@model SeniorDesignWebApp.arrestchargedetail

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>arrestchargedetail</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ChargeDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ChargeDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ArrestDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ArrestDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Detained)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Detained)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Role)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Role)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LaborTraf)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LaborTraf)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AdultSexTraf)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AdultSexTraf)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MinorSexTraf)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MinorSexTraf)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Fel_C)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fel_C)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Fel_S)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fel_S)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ACDId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
