@model IEnumerable<SeniorDesignWebApp.arrestchargedetail>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChargeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detained)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaborTraf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdultSexTraf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinorSexTraf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fel_C)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fel_S)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChargeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detained)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaborTraf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdultSexTraf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinorSexTraf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fel_C)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fel_S)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ACDId }) |
                @Html.ActionLink("Details", "Details", new { id=item.ACDId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ACDId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
