<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Human Trafficking Data</title>
    <link href="@Url.Content("~/Content/css/Site.css")" rel="stylesheet" type="text/css"
    @RenderSection("Styles", required: false)
</head>

<body>
    <div class="">
        <div class="container">

            <div class="navbar">
                <div class="logo">
                    <h1>@Html.ActionLink("Human Trafficking Data", "Index", "SiteIndex", null, new { @class = "navbar-brand" })</h1>
                </div>

                <div class="menu">
                    <ul>
                        <!--ActionLink format:
                        Html.ActionLink(article.Title,
                            "Item",   // <-- ActionMethod
                            "Login",  // <-- Controller Name.
                            new { article.ArticleID }, // <-- Route arguments.
                            null  // <-- htmlArguments .. which are none. You need this value
                            //     otherwise you call the WRONG method-->
                        <li>@Html.ActionLink("Home", "", "SiteIndex/Index")</li>
                        <li>@Html.ActionLink("Search", "", "SiteIndex/Index")</li>
                        <li>@Html.ActionLink("Database Format", "", "DatabaseFormat")</li>
                        <li>@Html.ActionLink("About", "", "About")</li>
                        <li>@Html.ActionLink("Upload Center", "", "AdminPanel")</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>