@model IEnumerable<SeniorDesignWebApp.sentence>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTerminated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restitution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetForfeit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appeal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupervisedRelease)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Probation)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTerminated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restitution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetForfeit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appeal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupervisedRelease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Probation)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.SentenceId }) |
                @Html.ActionLink("Details", "Details", new { id=item.SentenceId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.SentenceId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
