@model SeniorDesignWebApp.charge

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>charge</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Counts)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Counts)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Statute)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Statute)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Details)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Details)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Plea)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Plea)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Disposition)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Disposition)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.arrestchargedetail.ACDId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.arrestchargedetail.ACDId)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
