@model IEnumerable<SeniorDesignWebApp.charge>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Counts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountsNolelProssed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PleaDismissed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PleaGuilty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrialGuilty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrialNotGuilty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fines)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sentence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Probation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.arrestchargedetail.ACDId)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Counts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountsNolelProssed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PleaDismissed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PleaGuilty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrialGuilty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrialNotGuilty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fines)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sentence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Probation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.arrestchargedetail.ACDId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ChargeId }) |
                @Html.ActionLink("Details", "Details", new { id=item.ChargeId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ChargeId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
